Flask
flask-cors
PyPDF2
pymongo
langchain
langchain-core
langchain-groq
langchain-community
langsmith
langgraph
transformers
sentence-transformers
torch
faiss-cpu
python-docx
google-auth
google-api-python-client
python-dotenv
typing-extensions
numpy
pandas
requests
gunicorn
youtube-transcript-api
